.l-app {
	flex: 1;
	display: flex;
	height: 100%;
}

.l-app-nav {
	width: 250px;
	border-right: 1px solid #CBCBCB;
	background-color: #E0E0E0;
}

.l-app-nav a {
	display: block;
	padding: 1em;
	border-bottom: 1px solid #CBCBCB;
}

.l-app-nav a.is-active {
	color: #333;
}

.l-app-main {
	flex: 1;
	padding: 20px;
	overflow: auto;
}